body {
    height: 2500px;
  background-color: purple; 
  background-image: linear-gradient(to bottom right, purple, pink);

  
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center; /* Centraliza o texto horizontalmente */
  

  /* Definindo margens para criar espaçamento no topo da página */
  .content {
    max-width: 800px;    /* Define a largura máxima do texto */
    margin: 0 auto;      /* Centraliza o bloco de texto horizontalmente */
    padding-top: 50px;   /* Adiciona espaçamento no topo da página */
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}

